/***************************/

/* GENERAL REUSABLE COMPONENTS */

/***************************/

.display-desktop {
  @include respond(mini-laptop) {
    display: block !important;
  }

  @include respond(tab) {
    display: none !important;
  }

  @include respond(big-desktop) {
    display: block !important;
  }
}

.display-mobile {
  display: none;
  @include respond(mini-laptop) {
    display: none;
  }

  @include respond(tab) {
    display: block;
  }

  @include respond(big-desktop) {
    display: none;
  }
}

.container {
  margin: 0 auto;
  max-width: 103.2rem;
}

.btn {
  text-decoration: none;
  border: 0;
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
}

.padding-left {
  padding-left: 8rem;
}

.padding-top-8 {
  padding-top: 7.2rem !important;

  @include respond(phone) {
    padding-top: 6rem !important;
  }

  @include respond(med-phone) {
    padding-top: 4.8rem !important;
  }

  @include respond(mini-phone) {
    padding-top: 4rem !important;
  }
}

.padding-top-4 {
  padding-top: 4.8rem !important;
}

.padding-top-3 {
  padding-top: 3.2rem !important;
}

.gap-3 {
  gap: 3.2rem !important;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);

  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary {
  font-size: 4.2rem;
  line-height: 4.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  z-index: 2;
}

.home-page {
  margin: 0 auto;
}

.heading-oval {
  z-index: -1;
  position: absolute;
}

.section {
  padding: 8rem 0;
}

a {
  text-decoration: none;
  color: unset;
}

.bg-white {
  background-color: $color-white !important;
}
